# outputs/Results
**/__pycache__
**/CheckedOMRs
**/convertedOMRs_LQ
**/gitignore
**/ignore
**/outputs
/\.DS_Store
OMRChecker.wiki/
# Everything in inputs/
inputs/*
# Except *.json and OMR_Files/
!inputs/OMR_Files/
!inputs/*.json
!inputs/omr_marker.jpg