# outputs/Results
**/__pycache__
**/CheckedOMRs
**/convertedOMRs_LQ
**/gitignore
**/ignore
**/outputs
inputs/H_template.json
inputs/J_template.json
inputs/OMR_Files/
inputs/omr_marker.jpg
OMRChecker.wiki/